/yolov8x.pt
/yolo11x.pt
/Data
/Output
/Project_Documents
/Requirements
/s.png
/.venv
/Internship_Artifacts
/yolo11x.pt
/detected_objects
/best.pt
/latest_best.pt
/new_best_2nd_dec.pt
/new_best.pt
/sort
/requirements.txt
/test_interpolated.csv
/test.csv
